		<div class="row">
			<div class="12u">

				  <!-- Blog -->
					<section>
						<header class="major">
							<h2>INFORMACIÓN INSTITUCIONAL</h2>
						</header>
						<div class="row">
						 <section id="intro" class="container">
				          <div class="row">
						    <div class="2u">
					          <section class="first">
						      </section>
					        </div>
					        <div class="3u">
					          <section class="first">
						         <a href="unicef.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/uni03.jpg" width="288" height="152" alt="" /></a>
						         <header>
							      <h2>Unicef</h2>
						         </header>
					          </section>
					        </div>
					        <div class="3u">
					          <section class="first">
						        <a href="aru.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/aru1.jpg" width="298" height="135" alt="" /></a>
						        <header>
							    <h2>Fundación ARU</h2>
						        </header>
					          </section>
					        </div>
					        <div class="3u">
					          <section class="last">
						        <a href="plataforma.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/sis1.jpg" width="222" height="184" alt="" /></a>
						        <header>
							    <h2>Plataforma</h2>
						        </header>
					          </section>
					        </div>
							
							<div class="1u">
					          <section class="last">
						      </section>
					        </div>
				          </div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">App</a></li>
								<!--	<li><a href="#" class="button alt big">Resumenes</a></li> -->
								</ul>
							</footer>
				         </section>	
			            </div>
			        </section>
            </div>
		</div>
	</div>
</div>