<!-- Header ENCABEZADO -->
	<div id="header-wrapper">
		<div id="header">

		 <!-- Logo -->
		  <h1>PLATAFORMA DE INFORMACIÓN UNICEF</h1>

		 <!-- Menu de cabecera nav-->
		    <nav id="nav">
				<ul>
					<li class="current"><a href="Inicio.html">Inicio</a></li>
					
					<li><a href="">Repositorio</a>
					    <ul>
						  <li><a href="{{ site.baseurl }}/blog">Documentación</a></li>
						  <li><a href="#">Fichas Técnicas</a></li>
						</ul>
					</li>
					
					<li><a href="{{ site.baseurl }}/ejecutivo.html">Usuario Ejecutivo</a></li>
					<li><a href="{{ site.baseurl }}/left-sidebar.html">Usuario Experto</a></li>
					<li><a href="{{ site.baseurl }}/left-sidebar.html">Usuario Funcionario</a></li>
				</ul>
			</nav>

	      <!-- Banner -->
			<section id="banner">
				<header>
					<h2>Plata forma de Información</h2>
					<p>UNICEF Bolivia, un trabajo de Fundación Aru</p>
				</header>
			</section>

			<!-- TIOS DE USUARIO -->
			<section id="intro" class="container">
			  <div class="row">
				<div class="4u">
					<section class="first">
					  <a href="ejecutivo.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic07.jpg" alt="" /></a>
						<header>
						  <h2>Usuario Ejecutivo</h2>
						</header>
						    <footer>
							  <a href="ejecutivo.html" class="button alt">Ver</a>
							</footer>
					</section>
			    </div>
				<div class="4u">
					<section class="middle">
					  <a href="left-sidebar.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></a>
						<header>
						  <h2>Usuario Experto</h2>
						</header>
						   
						    <footer>
							  <a href="ejecutivo.html" class="button alt">Ver</a>
							</footer>
					</section>
				</div>
				<div class="4u">
					<section class="last">
					  <a href="left-sidebar.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt="" /></a>
						<header>
						  <h2>Usuario Funcionario</h2>
						</header>
						    <footer>
							  <a href="ejecutivo.html" class="button alt">Ver</a>
							</footer>
					</section>
				</div>
			  </div>
							
			</section>			
		</div>
	</div>