<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

		 <!-- Logo -->
		  <h1><a href="index.html">PLATAFORMA DE DATOS UNICEF</a></h1>

		 <!-- Menu de cabecera-->
		    <nav id="nav">
				<ul>
					<li class="current"><a href="index.html">Inicio</a></li>
					
					<li><a href="">Repositorio</a>
					    <ul>
						  <li><a href="{{ site.baseurl }}/blog">Documentación</a></li>
						  <li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					
					<li><a href="{{ site.baseurl }}/ejecutivo.html">Usuario Ejecutivo</a></li>
					<li><a href="{{ site.baseurl }}/right-sidebar.html">Usuario Experto</a></li>
					<li><a href="{{ site.baseurl }}/no-sidebar.html">Usuario Funcionario</a></li>
				</ul>
			</nav>

	      <!-- Banner -->
			<section id="banner">
				<header>
					<h2>Plata forma de Información</h2>
					<p>UNICEF Bolivia, un trabajo de Fundación Aru</p>
				</header>
			</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" ></i>
										<header>
											<h2>Ipsum consequat</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Magna etiam dolor</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Tempus adipiscing</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Get Started</a></li>
									<li><a href="#" class="button alt big">Learn More</a></li>
								</ul>
							</footer>
						</section>			
	     <!-- Cuerpo inicial usuarios -->	
		<div class="row">
		 <div class="12u">
			<section>
			 <header class="major">
				<h2>Usuarios</h2>
			 </header>
				<div class="row">
				  <div class="4u">
					<section class="box">
					  <a href="ejecutivo.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic07.jpg" alt="" /></a>
						<header>
						  <h3>Usuario Ejecutivo</h3>
						</header>
						<footer>
						 <a href="ejecutivo.html" class="button alt">Ver </a>
						</footer>
					</section>
				  </div>
				  
				  <div class="4u">
					<section class="box">
					  <a href="right-sidebar.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></a>
						<header>
						  <h3>Usuario Experto</h3>
						</header>
						<footer>
						  <a href="right-sidebar.html" class="button alt">Ver más</a>
						</footer>
					</section>
				  </div>
				  
				  <div class="4u">
					<section class="box">
					  <a href="no-sidebar.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt="" /></a>
						<header>
						  <h3>Usuario Funcionario</h3>
						</header>
						<footer>
						  <a href="no-sidebar.html" class="button alt">Ver más</a>
						</footer>
					</section>
				  </div>
			    </div>
			</section>	
			
			
		  </div>
		</div>

		</div>
	</div>