<!DOCTYPE HTML>
<html lang="es">
   <head>
      <title>Tutorial de HTML para dummies</title>
	  <meta charset="UTF-8">
	  <meta name="description" content="En este post..">
	  </head>
	  <body>
	       <h1>Cómo crear una página HTML</h1>
		   <p>Esta página</p>
		   <h2>¿Qué aprenderas</h2>
		   <p>En este</p>
		   <ol>
		      <li>Crear documentos</li>
			  <li>Crear documentos</li>
		   </ol>
           <h2>Más información</h2>
           <p>El articulo <a taget="_blank" href="">en este post</a>
           del blog de </p>
          </body>
</html>		  