---
layout: base
---
<div class="row">
    <ul class="col-lg-2" id="filterList">
        {% assign idx = 0 %}
        {% for institucion in site.institucion %}
            <li {% if idx == 0 %} class="current" {% endif %} data-show="{{ institucion | first }}">
                <a href="javascript:void(0)">
                {{ institucion | first }}
                <span class="cateCnt">{{ institucion | last | size }}</span>
                </a>
            </li>
            {% assign idx = idx | plus: 1 %}
        {% endfor %}
    </ul>

    {% assign cateIdx = 0 %}
    {% for institucion in site.institucion %}
        <section class="showcase col-lg-9 col-lg-offset-1 {% if cateIdx > 0 %} hide {% else %} current {% endif %}" data-show="{{ category | first }}">
            {% for posts in institucion %}
                {% include post_list.html posts=posts cateIdx=cateIdx %}
                {% assign cateIdx = cateIdx | plus: 1 %}
            {% endfor %}
        </section>
    {% endfor %}
</div>